//@import "variables";
//variables
$fontFamily: 'Source Sans Pro', serif;
$backgroundColor: white;

//class-styling
.App {
  font-family: $fontFamily;
  background-color: $backgroundColor;
}

.headerLink {
  color:black;
  font-weight: 600;
}

.section-heading {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2vw;
}

.chip {
  margin-left: 5px;
  background-color: #3366FF;
  color:white;
  font-weight: bold;
  width: auto;
  padding: 2.5px 5px;
  border-radius: 5px;
  &:link {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.cardsList {
  padding: 1em;
  padding-bottom: 2.5em;
}

.vertical_line {
  border-right: 1px solid #ececec;
  text-align: center;
}

.center-align {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.link-text {
  cursor: pointer;
  color: #4E58DB;
  &:hover {
    text-decoration: underline;
  }
}

#dropdown {
  line-height: 1.12;
  border: none;
  min-width: 8rem;
  background-color: white;
  color:black;
  text-align: center;
  border: 1px solid #ececec;
  margin-bottom: 5px;
  &::after {
    float: right;
    margin-top: 5px;
  }
}
.dropdown-menu {
  max-height: 10em;
  overflow: auto;
}
.dropdown-item {
  font-size:0.9em;
  padding: 0 0.5em 0.5em 0.5em;
}
.dropdown-item-selected {
  background-color: #3366FF;
  color: white;
  margin-bottom: 2px;
}

.card-container {
  background-color: white;
  width: 100%;
  line-height: 25px;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 10px;
  cursor: pointer;
  transition: box-shadow 0.2s ease 0s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px;
  }
  .card-heading {
    text-align: center;
    font-weight:600;
  }
  .card-description {
    font-size: 0.9em;
    text-align: left;
  }
  .card-tags {
    padding-top : 5px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    word-wrap:break-word;
    .tag {
      margin-left: 5px;
      cursor: pointer;
      background-color: orange;
      width: auto;
      padding: 2.5px 5px;
      border-radius: 5px;
      &::before {
        content: '#';
      }
    }
  }
}

.footer-section {
  background-color: white;
  padding: 2.5em 1em;
  .footer-items {
    padding:1em;
    font-size: 0.9em;
    .brand-name {
      font-weight: 700;
      font-size: 1.2em;
      padding: 0.3em 0.2em 0.3em 0.6em;
      color:black;
      &:link {
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    .brand-content {
      padding: 1em 0;
    }
  }
  .footer-icons-list {
    padding-top:1em;
    .icon {
      cursor: pointer;
      color: black;
    }
  }
}

.home {
  .header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .brand-title {
      font-weight: bold;
      font-size: 3.3em;
    }
    .brand-subtitle {
      font-size: 1.3em;
      font-weight: 600;
    }
  }

  .homeActionButtons {
    background-color: ghostwhite;
  }
}

.mentor-buddy {
  background-color: ghostwhite;
  .page-description {
    text-align: center;
    padding-top: 0.5em;
    .buddy-name {
      margin-bottom: 5px;
    }
  }
  .mentorList {
    padding: 0em;
  }
  .mentor-card {
    height: 250px;
    .mentor-header {
      height: 24%;
      .mentor-badge {
        text-align: center;
        height: 40px;
        width: 40px;
        background-color: #FFC4B0;//#FFE9B8
        border-radius: 50%;
        display: inline-flex;
        font-size: 1.3em;
      }
      .name {
        float: right;
        padding: 10px;
        font-weight: 600;
        font-size: 1em;
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .mentor-description {
      font-size: 0.9em;
      height: 50%;
      .mentor-message {
        height: 83%;
        line-height: 1.5;
        overflow: hidden;
      }
      .timeslot {
        margin-top: 10px;
        font-size: 0.9em;
      }
      .schedule-badge {
        text-align: center;
        height: 30px;
        width: 30px;
        background-color: #D0F0FF;//#FFE9B8
        border-radius: 50%;
        display: inline-flex;
        font-size: 0.9em;
        margin-right: 10px;
        margin-top: 10px;
        &:hover {
          text-decoration: underline;
        }
      &.selected-day {
        background-color: #50AFFF;
      }
      }
      .schedule-container {
        height: 83%;
        .slots {
          height: 40%;
          margin-top: 3px;
        }
        .small-button {
          line-height: 1;
          font-weight:600;
          .meeting-link {
            &:hover {
              color: white;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .mentor-footer {
      font-size: 0.9em;
      height: 25%;
      .tech-badge {
        font-size: 80%;
      }
      //background-color: red;
    }
  }
}

.interview {
  background-color: ghostwhite;
  .interview-filter {
    margin-top: 10px;
  }
  .schedule-badge {
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: #D0F0FF;//#FFE9B8
    border-radius: 50%;
    display: inline-flex;
    font-size: 0.9em;
    margin-right: 10px;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  &.selected-day {
    background-color: #50AFFF;
  }
  }
}